.locate-me-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}
